div.post-container{
    border:  1px solid #edede9;
    margin-top: 1rem;
    background-color: #edede9;
}
div.post-card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}
.card{
    width: 30%;
    margin: 1rem 0 ;
}